<!doctype html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org" th:replace="student/base-dashboard::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<!--Main container start -->
		<main class="ttr-wrapper">
			<div class="container-fluid">
				<div class="db-breadcrumb">
					<h4 class="breadcrumb-title">Courses</h4>
					<ul class="db-breadcrumb-list">
						<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
						<li>Courses</li>
					</ul>
				</div>
				<div class="row">
					<!-- Your Profile Views Chart -->
					<div class="col-lg-12 m-b30">
						<div class="widget-box">
							<div class="wc-title">
								<h4>Your Courses</h4>
							</div>
							<div th:switch="${courses}" class="container ">
								<div class="row">
									<div class="col-md-12">
										<h2 th:case="null">No users yet!</h2>
										<div th:case="*">
										<div class="col-md-12">	
                                           <a th:href="@{/create-course}" class="btn green radius-xl">Add New Course</a>
											</div>
											<div class="widget-inner" th:each="course : ${courses}">
												<div class="card-courses-list admin-courses">
													<div class="card-courses-media">
														<img th:src="@{${course.imagePath}}" alt="" />
													</div>
													<div class="card-courses-full-dec">
														<div class="card-courses-title">

															<h4 th:text="${course.name}"></h4>
														</div>
														<div class="card-courses-list-bx">
															<ul class="card-courses-view">
																<li class="card-courses-user">
																	<div class="card-courses-user-pic">
																		<img src="assets/images/testimonials/pic3.jpg" alt="" />
																	</div>
																	<div class="card-courses-user-info">
																		<h5>Teacher</h5>
																		<h4>M.Nouman</h4>
																	</div>
																</li>
																<li class="card-courses-categories">
																	<h5>Start Date</h5>																
												                    <h4 th:text="${course.startDate}"></h4>					
																</li>
																<li class="card-courses-categories">
																	<h5>End Date</h5>
																	 <h4 th:text="${course.endDate}"></h4>																
																</li>
																<li class="card-courses-review">
																	<h5>3 Review</h5>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</li>
																<li class="card-courses-stats"><a href="#"
																	class="btn button-sm green radius-xl">check detail</a></li>
																<li class="card-courses-price"><del>RS2000</del>
																	<h5 class="text-primary">RS1500</h5></li>
															</ul>
														</div>
														<div class="row card-courses-dec">
															<div class="col-md-12">
																<h6 class="m-b10">Course Description</h6>

																<p th:text="${course.description}"></p>
															</div>
															<div class="col-md-12">													
																		
																<a th:href="@{/editCourse/{id}(id=${course.id})}" class="btn green radius-xl outline">Course Update</a> 
																<a th:href="@{/deleteCourse/{id}(id=${course.id})}" class="btn red outline radius-xl ">Delete Course</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Your Profile Views Chart END-->
				</div>
			</div>
		</main>
		<div class="ttr-overlay"></div>
	</section>
</body>
</html>